#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: repeat(6, 50px);
  gap: 5px;
  justify-content: center;
  margin-top: 20px;

}

.board div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border: 1px solid black;
  color: black;
  font-size: 16px;
  font-weight: bold;
  font-size: 45px;
}

img{
  height: 50px;
}

.arrows{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;

}

.arrow{
  cursor: pointer;
}
